@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.post_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.content {
    border: 12px solid rgba(128, 128, 128, 0.419);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 4% 5%;
    background-color: #1147773f;
}

.profile {
    border-radius: 30px;
    background-color: #0c3a6398;
    padding: 17px 30px;
}

h2 {
    margin-bottom: 0px;
}

.buttons {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.buttons form {
    margin-left: 10px;
    color: #56f75f;
    opacity: 0.6;
    transition: all 0.5s ease;
}

.buttons form:hover {
    transition: all 0.5s ease;
    opacity: 1;
}

.line {
    height: 6px;
    border-radius: 20px;
    background-color: #56baaf;
    width: 100%;
    margin: 2% 0%;
}

.post {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0px 15px;
}

.post h2 {
    font-size: 26px;
}
.name{
    color: darkmagenta;
}
.tags{
    float: left;
}
.tags a{
    background-color: Transparent;
    background-repeat: no-repeat;
    color: #56f75f;
    border: none;
    border-bottom: #56f75f solid 1px;
    cursor: pointer;
    outline: none;
    margin-right: 8px;
}
.image{
    max-width: 100%;
}