<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fanfic Break</title>
    <link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/static.css">
</head>
<body>
<div id="main">

    <div id="container">
        <nav id="navbar" class="navbar navbar-light justify-content-between bg-green">
            <a class="navbar-brand" href="#">Welcome and have fun</a>
            <form class="form-inline my-2 my-lg-0">
                <!--                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
                <!--                <button th:id="btn_search" class="btn btn-primary" type="submit" value="search">Search</button>-->
                <button th:id="btn_signin" class="btn btn-primary" type="submit" value="signin">Log in</button>
                <button th:id="btn_signup" class="btn btn-primary" type="submit" value="signup">Register</button>
            </form>
        </nav>

        <div id="header_container">
            <div id="header">
                <h1 class="logo">
                    <a href="/"></a>
                </h1>
            </div>
        </div>

        <div id="page" class="bg-light">
            <nav id="navbar_page" class="navbar navbar-light justify-content-between bg-green">
                <form class="form-inline my-2 my-lg-0">
                    <!--                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
                    <!--                <button th:id="btn_search" class="btn btn-primary" type="submit" value="search">Search</button>-->

                    <button th:id="btn_profile" class="btn btn-primary" type="submit" value="profile">Profile</button>
                    <button th:id="btn_logout" class="btn btn-primary" type="submit" value="logout">Log out</button>
                    <a id="sort_text">Sort:</a>
                    <button th:id="btn_by_date" class="btn btn-primary" type="submit" value="date">By date</button>
                    <button th:id="btn_by_rating" class="btn btn-primary" type="submit" value="rating">By rating
                    </button>
                </form>
            </nav>
            <div id="page_inner">

                <div id="page_content">
                    <div class="post_container">
                        <div class="post_top">
                            <h2 class="username">User</h2>
                            <h3 class="fandom">Fandom</h3>
                            <div>
                                <ul class="list-inline">
                                    <li class="list-inline-item"><a href="#">tag</a></li>
                                    <li class="list-inline-item"><a href="#">tag</a></li>
                                    <li class="list-inline-item"><a href="#">tag</a></li>
                                    <li class="list-inline-item"><a href="#">tag</a></li>
                                    <li class="list-inline-item"><a href="#">tag</a></li>
                                    <li class="list-inline-item"><a href="#">tag</a></li>
                                    <li class="list-inline-item"><a href="#">tag</a></li>
                                    <li class="list-inline-item"><a href="#">tag</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="page_block"></div>
            </div>

        </div>

    </div>
</div>

</body>
</html>