<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>FBreak</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
    <script src="/js/main.js" defer></script>
    <link rel="stylesheet" href="css/static.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="main">
    <div class="container">
        <div class="row header">
            <div class="logo">
                <a th:href="@{/}"><img src="../images/logo.svg" alt="logo"></a>
            </div>
            <div class="nav">
                <ul>
                    <li><a th:href="@{/login}">LOG IN</a></li>
                    <li><a th:href="@{/registration}">REGISTER</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container container_content" th:object="${postsList}">
        <div class="content">

            <div class="post_header">
                <div class="profile">
                    <button class="button-head">My profile</button>
                    <button class="button-head">Create Post</button>
                </div>
                <div class="buttons">
                    <form th:action="@{/}" method="get">
                        <button class="button-head" th:name="sort" th:value="date">Sort by date</button>
                        <button class="button-head" th:name="sort" th:value="rating">Sort by rating</button>
                    </form>
                </div>
            </div>

            <div class="line"></div>

            <div class="post" th:each="post: ${postsList}">

                <div class="user">
                    <a href="#"><h2 th:text="'Creator: '+${post.fanfic_creator}">User</h2></a>
                </div>
                <div class="fandom">
                    <h2 th:text="'Fandom: '+${post.fanfic_fandom}">Fandom</h2>
                </div>

                <div class="tags">
                    <!--                            TODO: Create array with tags -->
                    <h2 class="tag" th:text="${post.fanfic_tags}"></h2>
                </div>
                <div>
                    <img src="https://res.cloudinary.com/dqqr510iw/image/upload/images/ahsoka">
                </div>
                <div>
                    <h2 class="name" th:text="${post.fanfic_name}"></h2>
                </div>
                <div class="">
                    <h2 class="description" th:text="${post.fanfic_description}"></h2>
                </div>
                <div class="row">
                    <div>
                        <h3 class="date" th:text="${post.fanfic_date}"></h3>
                    </div>
                    <div class="buttons">
                        <button class="button-head" th:value="${post.id}">Read</button>
                    </div>
                </div>

                <div class="line"></div>
            </div>

        </div>
    </div>
</div>

</body>
</html>